<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<header class="d-flex justify-content-center py-3">
			<ul class="nav nav-pills">
				<li class="nav-item"><a href="/" class="nav-link active">Главная</a></li>
				<li class="nav-item"><a href="/catalog" class="nav-link">Каталог</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Тестовая</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Статьи</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Парсеры</a></li>
				<li class="nav-item"><a href="/admin" class="nav-link">Админка</a></li>
    		</ul>
  		</header>
	</div>
</body>
</html>